#page_body {
    width: 100%;
    padding: 0;
}

#wrap1, #wrap2, #wrap3 {
    border: 0 none;
    padding: 0;
}

/* повторяет vk стиль #feed_new_posts */
.feed_new_bar {
    color: #71869B;
    background: #E9EDF1;
    padding: 10px;
    text-align: center;
    margin: 15px 15px 0 15px;
}

#feed_new_progress .progress {
    margin: 0 auto;
}

#feed_new_update {
    cursor: pointer;
}

#feed_errors {
    margin: 15px 15px 0 15px;
}

.feed_error {
    color: #000;
    background-color: #FFB4A3;
    padding: 10px;
    margin: 5px 0 0 0;
}

.feed_error pre {
    white-space: pre-wrap;
}
