#page_body {
    width: 100%;
    padding: 0;
}

#wrap1, #wrap2, #wrap3 {
    border: 0 none;
    padding: 0;
}

#feed_new {
    color: #777;
    display: none;
    font-size: 1.09em;
    line-height: 170%;
    padding: 100px 30px;
    text-align: center;
}

#feed_new .progress {
    margin: 0 auto;
}
