#page_body {
    width: 100%;
    padding: 0;
}

#wrap1, #wrap2, #wrap3 {
    border: 0 none;
    padding: 0;
}

/* повторяет vk стиль #feed_new_posts */
#feed_new_progress {
    color: #71869B;
    background: #E9EDF1;
    padding: 10px;
    text-align: center;
    margin: 15px 15px 0 15px;
}

#feed_new_progress .progress {
    margin: 0 auto;
}
