{{!feedEmpty}}
Приветствую тебя, #{{user}}!<br>

Плохих новостей для тебя пока нет, однако мы уже взяли на
карандаш всех твоих друзей и подписчиков, пересчитали все „лайки“ на твоих фотографиях и
записях на стене.

И, если только какой-то Ололо посмеет усомниться в твоей дружбе, красоте твоих фотографий или посчитает,
что твои необычайно мудрые высказывания больше не заслуживают его восхищения,
то мы непременно вычислим, кем именно является этот наглец,
и расскажем об этом тебе.

А пока можешь вступить в <a href="{{link '//vk.com/who_ololo'}}" target="_blank">наше сообщество</a>
и попытаться узнать там, кто же всё таки Ололо?

<img src="{{link '//vk.com/images/join/news_f.gif'}}">
