{{!feedEmpty}}

<h3 id="title">Приветствую тебя, #{{user}}!</h3>

<style>
    #feed_empty_text {
        text-align: left;
        height: 160px;
    }

    #feed_empty_text p {
        text-indent: 1em;
    }
</style>

<div id="feed_empty_text">
    <img src="{{link '//vk.com/images/join/search_f.gif'}}" class="fl_r">
    <p>Плохих новостей для тебя пока нет. Однако мы уже взяли на
    карандаш всех твоих друзей и подписчиков, пересчитали все „лайки“ на твоих фотографиях и
    записях на стене.</p>

    <p>И, если только какой-то Ололо посмеет усомниться в твоей дружбе, красоте твоих фотографий или посчитает,
    что твои необычайно мудрые высказывания больше не заслуживают его восхищения,
    то мы непременно вычислим его.</p>
</div>

<div style="text-align: center; margin-top: 30px;">
    А пока можешь написать нам <b><a href="{{link '//vk.com/im?sel=-120370745'}}" target="_blank">сообщение</a></b>
    или пообщаться в нашем <b><a href="{{link '//vk.com/club120370745'}}" target="_blank">сообществе</a></b>
</div>
